@model IEnumerable<CarPark.Entities.Concrete.Personal>
@{
    ViewData["Title"] = "Index";

}

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>UserName</th>
            <th>password</th>
            <th>roles</th>
            <th>createdDate</th>
            <th>password</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td> @item.Id</td>
            <td> @item.UserName</td>
            <td> @item.Password</td>
            <td> @item.Roles</td>
            <td> @item.CreatedDate</td>
            <td> @item.Password</td>
        </tr>
        }

    </tbody>
</table>

